* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.centeredAligned {
    text-align: center;
}

.noDecoration {
    text-decoration: none;
    color: inherit;
}
.noDecoration:hover 
{
     text-decoration:none; 
}

html, body, #root {
    background: azure;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.flex-item {
    display: flex;
}

.flex-item.vertical {
    flex-direction: column;
}

.flex-item.wrapped {
    flex-wrap: wrap;
}

.flex-item.space-evenly{
    justify-content: space-evenly;
}

.flex-item > .stretched{
    flex: 1;
}

.white-text {
    color: white;
}

.largest {
    font-size: 40px;
}

.button {
    background: ghostwhite;
    border-radius: 10px;
    padding: 10px 75px;
    margin: 10px 25px;
    cursor: pointer;
}

.bordered {
    border: 1px solid #303030;
}

.button:hover {
    background: aquamarine;
}

.button.noDecoration.selected {
    background: #303030;
    color: ghostwhite;
    box-shadow: 0px 4px 5px black;
}

.darkBackground{
    background: darkslategrey;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }