* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.clickArea {
  cursor: pointer;
}

.fullDim {
  width: 100%;
  height: 100%;
}

.auto-overflow {
  overflow: auto;
}

.centeredAligned {
  text-align: center;
}

.noDecoration {
  text-decoration: none;
  color: inherit;
}
.noDecoration:hover {
  text-decoration: none;
}

html,
body,
#root {
  background: azure;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.white-text {
  color: white;
}

.largest {
  font-size: 40px;
}

.bordered {
  border: 1px solid #303030;
}

.SLL-button,
.button {
  background: ghostwhite;
  border-radius: 10px;
  padding: 10px 75px;
  cursor: pointer;
  height: 30px;
  box-shadow: 3px 1px 4px black;
}

.SLLstem {
  display: block;
  width: 5px;
  height: 50px;
  background: ghostwhite;
  border-radius: 14px;
  box-shadow: 3px 1px 4px black;
}

.SLL-List {
  padding: 30px;
  border: 1px dashed #888;
  background: #febd69;
}

.button {
  margin: 10px 25px;
}

.button:hover {
  background: aquamarine;
}

.button.noDecoration.selected {
  background: #303030;
  color: ghostwhite;
}

.darkBackground {
  background: darkslategrey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.description {
  /* color: crimson; */
  font-size: smaller;
}

.description-row {
  background: #f2f2f2;
  padding: 30px;
  align-items: baseline;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navigation > div {
  padding: 10px 0;
}

.noDisplay {
  display: none;
}
