/* a.houseLink :hover {
  border: 1px dashed cadetblue;
}

.subNavigation_area {
  width: 0%;
  height: 100%;
  position: absolute;
  background: #f8f8ff9e;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
}

.subNavigation_area.display {
  width: 100%;
  transform: translateX(0%);
  position: absolute;
  z-index: 2020;
}

.selection-zone {
  background: #ffffff;
}
.selection-zone h1 {
  background: aliceblue;
  padding: 10px;
}

.selection-zone .display a {
  color: rgb(78, 129, 131);
  padding: 20px;
  display: block;
}

.selection-zone .display a:hover {
  background: rgba(95, 158, 160, 0.445);
  color: #232f3e;
}

a.noDecoration.selected {
  background: antiquewhite;
}

.shadow-zone {
  background: #37475a9e;
  flex: 2;
}

.navigation {
  height: 60px;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation .hamburger_button {
  height: 70px;
  border: 1px solid black;
  background: #f2f2f2;
  width: 70px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.navigation .hamburger_button > .line {
  width: 80%;
  height: 5px;
  background: #303030;
  border-radius: 2px;
}

.navigation .home {
  cursor: pointer;
}

svg {
  width: 40px;
  height: 40px;
}
svg:hover {
  fill: cadetblue;
}

.HomePageTile {
  cursor: pointer;
  /* background-color: lightblue; */
/* padding: 20px;
  margin: 10px;
}

hr.blueLine {
  border: 1px solid cadetblue;
  /* border-radius: 2px; */
/* } */

/* -------------------------------------------------------- */

.navigation {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navigation-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: cadetblue;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}
.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* //----------------------// */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translate(38%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: cadetblue;
}

.icon-right {
  margin-left: auto;
}

/* //---------------------------------// */

.menu {
  width: 100%;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
