.tableHead > .stretched.centeredAligned {
    background: #232F3E;
    color: aliceblue;
    padding: 10px;
    font-size: 150%;
    text-transform: uppercase;
}


.flex-item.tableHead {
    cursor: pointer;
}

.tableBody .stretched.centeredAligned {
    padding: 10px 0;

}

.tableHead > .stretched.centeredAligned.active {
    background: aliceblue;
    color: #232F3E;
}

.table .tableRow{
    background: #37475A;
    flex-wrap: nowrap;
    color: azure;
}
.table .tableRow:hover {
    cursor: pointer;
    background: #303030;
    color: ghostwhite;
}